:root {
    --golden: #978d07;
    --navyblue: #02061c;
    --white: #f7f7f7;
    --brightGolden: #c5b204;
}

@font-face {
    font-family: gothic;
    src: url("/font/Gothic.ttf");
}

body {

    font-family: gothic;
    color: #f7e991;
    background: -webkit-linear-gradient(-45deg, rgb(12, 12, 40), #978d07, rgb(15, 15, 22), #071328, rgb(20, 22, 36));
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;

}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    padding: 50px;
    text-align: center;
}

.para {
    width: 35%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

.btn-center {
    margin-top: 30px;
    position: relative;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width:700px) {

    h1 {
        text-align: center;
        font-size: 35px;
    }

    .center {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .para {
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 30px;
    }
}


/* Footer  */
#footer {

    text-align: center;
    padding: 50px 0;


}

#footer p {

    margin-top: 20px;

}

#footer i {
    margin: 10px;
    font-size: 1.5rem;
}

#footer i:hover {
    color: var(--brightGolden);
}
