:root {
    --golden: #978d07;
    --navyblue: #02061c;
    --white: #f7f7f7;
    --brightGolden: #c5b204;
}

@font-face {
    font-family: gothic;
    src: url("/font/Gothic.ttf");
}

body {

    font-family: gothic;
    color: #f7e991;
    background: -webkit-linear-gradient(-45deg, rgb(12, 12, 40), #978d07, rgb(15, 15, 22), #071328, rgb(20, 22, 36));
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.psize {
    width: 70%;
    text-align: center;
    color: #f7e991;
    margin: auto;
    font-size: 18px;
}


h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

div {
    padding: 30px;
}

@media (max-width:700px) {
    .psize {
        width: 90%;
        text-align: center;
        color: #f7e991;
        margin: auto;
        font-size: 16px;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

}

/* Footer  */
#footer {

    text-align: center;
    padding: 50px 0;


}

#footer p {

    margin-top: 20px;

}

#footer i {
    margin: 10px;
    font-size: 1.5rem;
}

#footer i:hover {
    color: var(--brightGolden);
}
